[submodule "SpecFlow.VisualStudio"]
	path = SpecFlow.VisualStudio
	url = https://github.com/techtalk/SpecFlow.VisualStudio.git
[submodule "SpecFlow"]
	path = SpecFlow
	url = https://github.com/techtalk/SpecFlow.git
